@charset "UTF-8";
/* ==========================================================
	anti-aging common
========================================================== */
.anti-heading{
    background-color: white;
    position: relative;
    &__caption{
        padding: 70px 20px;
        color: $color_black; 
        text-align: center;
        span{
            display: block;
            &.jp{
                font-size: 3.0rem;
                font-weight: $font_bold;
            }
            &.en{font-size: 2.0rem;}
        }
    }
    @include mq(smt){
        &__caption{
            padding: 50px 20px;
        }
        span{
            &.jp{font-size: 2.5rem;}
            &.en{
                margin-top: 10px;
                font-size: 1.5rem;
            }
        }
    }
    @include mq(sm3){
        span.jp{font-size: vw2(28);}
    }
}


/* ==========================================================
	anti-aging top page
========================================================== */
#anti-aging-top{

    .anti-heading__caption{
        padding: 110px 20px;
        @include mq(smt){
            padding: 70px 20px;
        }
    }

    .anti-content{
    
        &__mainvisual{
            height: 500px;
            background-image: url('../images/anti-aging/antiaging_mv.png');
            background-position: 50% 50%;
            background-size: cover;
            position: relative;
            
            &--caption{
                padding: 0 20px;
                font-weight: bold;
                color: $color_black;
                max-width: 750px;
                width: 100%;
                position: absolute;
                bottom: 35px;
                left: 50%;
                transform: translateX(-50%);
                line-height: 2;
            }
    
            
            @include mq(){
                height: 400px;
                &--caption{
                    line-height: inherit;
                    bottom: 20px;
                }
            }
        }
    
        &__body{
            padding: 100px 20px;
            max-width: 1140px;
            margin: auto;
            font-weight: $font_regular;
            color: $color_black;
            .text1{
                max-width: 900px;
                margin:0 auto 100px;
                line-height: 2;
            }
            .text2{
                max-width: 900px;
                margin:100px auto 0;
                line-height: 1.8;
            }
        }
    
    
        &__menu{
            max-width: 1100px;
            margin: 100px auto;
            .home-section__menu-ul{
                justify-content: center;
            }
        }
    
    
        @include mq(smt){
            &__body{
                padding: 50px 20px;
                .text1{margin-bottom: 50px;}
                .text2{margin-top: 50px;}
            }
            &__menu{
                margin-top: 50px;
            }
        }
        @include mq(sm3){
            &__mainvisual--caption{
                font-size: vw2(18);
            }
        }
    }


    /*----------- end -------------*/
}

