@charset "UTF-8";
/* ==========================================================
	teeth-cleaning-page
========================================================== */

.teeth-cleaning{


/* ==========================================================
	teeth-cleaning-content
========================================================== */
.teeth-cleaning__content{


	.youtube-section{
		iframe{
			display: block;
			max-width: 560px;
			width: 100%;
			height: 315px;
			margin: auto;
		}
	}	

	/* outline */
	.care1-outline-section {
		max-width: 1040px;
		padding: 50px 20px;
		margin: auto;
		h2.head {
			text-align: center;
			font-weight: $font_regular;
			letter-spacing: 0.5rem;
			text-indent: 0.5rem;	
			margin-bottom: 50px;
		}
		p.intro {
			margin: 0 auto;
			letter-spacing: 0.2rem;
			
			line-height: 200%;
			text-align: center;		
		}
	}


	/* teeth-cleaning */
	.care1-teeth-cleaning-section {
		width: 100%;
		padding: 100px 0;
		overflow: hidden;
		background-color: #fafafa;		
		.care1-teeth-cleaning-content {
			max-width: 1040px;
			margin: 0 auto;
			padding: 0 20px;
			h3.head {
				
				margin-bottom: 20px;
				text-align: center;
			}
			p.intro {
				margin: 0 auto 50px;
				
				line-height: 200%;
				text-align: justify;	
			}
			.image-wrap {
				margin: 0 auto 50px;
				max-width: 900px;
				text-align: center;
				overflow: hidden;
				.wrap-float {
					display: inline-block;
					padding: 20px;
					p.arrow {
						color: #a5967d;
					}
				}
			}
			.recommend {
				max-width: 800px;
				margin: 0 auto;
				margin-bottom: 100px;
				h4.head {
					
					margin-bottom: 30px;
					text-align: center;
				}
			}
			.outline-wrap{
				display: flex;
				justify-content: center;
			}
			ul.outline {
				display: flex;
				flex-wrap: wrap;
				li {
					width: 49.5%;
					margin: 2px;
					padding: 10px;
					background-color: #d2bea5;
					display: inline-block;
					line-height: 200%;
					text-align: center;
					color: #fff;
					font-weight: $font_medium;
					@media(max-width: 850px){
						width: 100%;
					}
				}
			}
			.treatment-wrap {
				
				line-height: 150%;
				text-align: center;	
				h4.head {
					font-weight: $font_medium;
					margin-bottom: 20px;
					text-align: center;	
					letter-spacing: 0.1rem;
				}
				h5.sub-head {
					margin-bottom: 10px;
					line-height: 150%;
				}
				.comment {
					font-weight: $font_regular;
					line-height: 150%;
					margin-top: 30px;
					&:not(:last-child){
						margin-bottom: 50px;
					}
				} 
			}
		}
	}

	/* white-care */
	.white-care__section{
		margin: 100px 0;
		.white-care__content{
			max-width: 1040px;
			padding: 0 20px;
			margin: auto;
			h2.head{
				text-align: center;
			}
			.thumb{
				margin-top: 50px;
			}
			.price{
				padding: 50px 0;
				p.title{
					font-weight: $font_regular;
				}
				p.extra{
					margin-top: 30px;
				}
			}
			.time{
				p.title{
					margin-top: 30px;
					font-weight: $font_regular;
				}
				p.detail{margin-top: 20px;}
			}
		}
	}

}


/* ==========================================================
bridal-content
========================================================== */
.bridal-content{
	
	margin-bottom: 100px;
	&__mv{
		height: vw(700);
		background-image: url(../images/anti-aging/wedding.png);
		background-size: cover;
		background-position: 50% 50%;
	}
	/* outline */
	.cure1-outline-section {
		max-width: 1040px;
		padding: 100px 20px 20px;
		margin: auto;
		h2.head {
			text-align: center;
			
			letter-spacing: 0.5rem;
			text-indent: 0.5rem;	
			margin-bottom: 50px;
			line-height: 150%;	
		}
		p.intro {
			margin: 0 auto;
			letter-spacing: 0.2rem;
			
			line-height: 200%;
			text-align: center;	
		}
		p.intro2 {
			margin: 40px auto 0;
			letter-spacing: 0.2rem;
			
			line-height: 200%;
			text-align: justify;
			span {
				color: #ff0000;
			}
		}
	}

	.cure1-bridal-section {
		max-width: 880px;
		margin: 0 auto;
		padding: 50px 20px 100px;
		h2.head {
			text-align: center;
			
			letter-spacing: 0.5rem;
			margin: 50px 0 10px;
			line-height: 150%;	
		}
		h3.head {
			text-align: left;
			font-weight: $font_medium;
			margin: 50px 0 30px;
			padding-bottom: 20px;
			line-height: 150%;
			border-bottom: 1px solid #d2bea5;
			span {
				text-align: left;
				font-weight: $font_regular;
				padding-bottom: 10px;
				line-height: 150%;
				font-size: 1.6rem;
			}
		}
		.subhead {
			font-weight: $font_regular;
			margin: 0 0 20px;
		}
		.plan {
			
			background-color: rgba(210,190,165,0.5);
			padding: 10px 150px 10px 10px;
			color: #333;
			margin: 0 0 50px;
			position: relative;
			span.price {
				font-weight: $font_medium;
				color: #ff0000;
				position: absolute;
				right: 10px;
				top: 10px;
				span {
					font-weight: $font_regular;
					font-size: 1.2rem;
					margin-top: 5px;
				}
			}
		}
		.comment {
			text-align: justify;
			line-height: 200%;
			font-weight: $font_regular;
			span {
				color: #ff0000;
				font-weight: $font_medium;
				font-size: 1.8rem;
			}
			a {
				color: #08c;
				font-size: 1.4rem;
				font-weight: bold;
				&:hover{
					opacity: .8;
				}
			}
		}
	}
}




/* ==========================================================
	self-care-content
========================================================== */
.self-care-content{
	/* header */
	font-weight: 350;
	.care1-header {
		width: 100%;
		height: 300px;
		position: relative;
		overflow: hidden;
		background-image: url(../images/base/care3-header.png);
		background-position: center;
		background-size: cover;
		h1.care1-header-caption {
			width: 100%;
			text-align: center;
			position: absolute;
			top: 50%;
			margin-top: -70px;
			font-weight: $font_regular;
			letter-spacing: 0.5rem;
			text-indent: 0.5rem;
		}
		h2.care1-header-caption {
			width: 100%;
			text-align: center;
			position: absolute;
			top: 50%;
			margin-top: -20px;
			font-weight: $font_regular;
			letter-spacing: 0.5rem;
			text-indent: 0.5rem;
		}
	}
	
	/* outline */
	.care3-outline-section {
		max-width: 1040px;
		padding: 100px 0 20px;	
		margin: auto;
		h2.head {
			font-family: "futura-pt",sans-serif;	
			text-align: center;
			font-weight: $font_regular;
			line-height: 150%;
			letter-spacing: 0.5rem;
			text-indent: 0.5rem;
		}
	}
	.howto-section {
		max-width: 1040px;
		margin: 0 auto 50px;
		overflow: hidden;	
		padding: 0 20px;
		h3.head {
			text-align: center;
			font-weight: $font_regular;
			line-height: 150%;
			letter-spacing: 0.5rem;
			text-indent: 0.5rem;	
			margin-bottom: 50px;	
		}
		.brush-box {
			margin-bottom: 50px;
			overflow: hidden;	
			img.left {
				width: 150px;
				float: left;
				margin-right: 50px;
			}
			img.right {
				width: 150px;	
				float: right;
				margin-left: 50px;
			}
			.detail {
				margin-bottom: 10px;
				line-height: 1.8;
				span.head {
					display: block;
					font-weight: $font_regular;
					margin-bottom: 10px;	
				}
			}
		}
		.outline {
			display: block;
			margin-bottom: 10px	
		}
	}
	
	/* meal */
	.meal-section {
		width: 100%;
		overflow: hidden;
		background-color: #fafafa;
		.meal-wrap {
			max-width: 1040px;
			margin: 0 auto 50px;
			padding: 0 20px;
		}
		h3.head {
			text-align: center;
			font-weight: $font_regular;
			line-height: 1.8;
			letter-spacing: 0.5rem;
			text-indent: 0.5rem;	
			margin: 50px 0 20px;	
		}
		.outline {
			line-height: 1.8;
		}
	}
	
	/* facial */
	.facial-section {
		width: 100%;
		padding: 0 20px;
		margin: 50px 0 200px;
		.facial-wrap {
			max-width: 1040px;
			margin: 0 auto;
			h3.head {
				text-align: center;
				line-height: 1.8;
				letter-spacing: 0.5rem;
				text-indent: 0.5rem;	
				margin:50px 0;
				font-weight: $font_regular;	
			}
			.outline {
				margin: 0 0 50px;	
				line-height: 1.8;
			}
		}
		.facial-box {
			margin: 0 0 50px;
			overflow: hidden;	
			.detail{
				margin-bottom: 10px;
				line-height: 180%;
				span.head {
					display: block;
					font-weight: $font_regular;
					margin-bottom: 10px;	
				}
				span.sub-head {
					display: block;
					font-weight: $font_regular;
					margin-bottom: 10px;	
				}
				table {
					max-width: 400px;
					float: right;
				}
			} 
			img.left {
				float: left;
				margin-right: 50px;
			}
			img.right {
				float: right;
				margin-left: 50px;
			}
		}
	}
	
	@include mq(smt){
		.howto-section .brush-box{
			img{
				width: 130px !important;
			}
			img.left{
				margin-right: 10px;
			}
			img.right{
				margin-left: 10px;
			}
		}
		.facial-section{
			margin-bottom: 150px;
			.facial-box{
				img.right, img.left{
					float: none;
					margin:0 auto 20px;
				}
				.detail table{
					float: none;
					margin-top: 20px;
				}
			} 
		} 
	}

}



@include mq(){
	.teeth-cleaning__content{
		.care1-outline-section{
			p.intro{
				text-align: left;
				br{display: none;}
			}
		} 
		.care1-teeth-cleaning-section .care1-teeth-cleaning-content .treatment-wrap{
			text-align: left;
		}
	}
	.bridal-content{
		.cure1-outline-section p.intro{
			text-align: left;
			br{display: none;}
		} 
	} 
	
}

@include mq(smt){
	.teeth-cleaning__content{
		.care1-outline-section{
			padding: 50px 20px;
		}	
		.care1-teeth-cleaning-section{
			padding: 50px 0;
			.care1-teeth-cleaning-content{
				.image-wrap .wrap-float{
					padding: 20px 0;
				}
				.recommend{
					margin-bottom: 50px;
				}
			} 
		}

		.white-care__section{
			margin-top: 50px;
			.white-care__content{
				.thumb{
					margin-top: 20px;
				}
				.price{
					padding: 50px 0;
					p.detail{
						margin-top: 30px;
					}
				}
			}	
		} 
	} 

	.bridal-content{
		margin-bottom: 0;
		.cure1-outline-section{
			padding-top: 70px;
		}
		.cure1-bridal-section .plan{
			padding-right: 90px;
			span.price{
				span{
					display: block;
					text-align: center;
				}
			}
		} 
	}
}

/*-------end-------*/
}