@charset "UTF-8";
/* -------------------
  404 page
--------------------*/

.section-404{
    padding-top: 50px;
    &__caption{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 10.0rem;
        color: #f5dbd4;
    }
    /* ==========================================================
      404error-page
    ========================================================== */
    
    /* ------------------------------------------------ header */
    .error-header {
      width: 100%;
      height: 50px;
      position: relative;
      overflow: hidden;
      background-color: #d2bea5; 
    }
    
    .head{
      font-family: "futura-pt",sans-serif;
      width: 100%;
      
      line-height: 50px;
      text-align: center;
      letter-spacing: 0.3rem;
      text-indent: 0.5rem;
      color: #fff;
      margin: 0;
    }
    
    .error-section{
      color: $color_main;
      text-align: center;
      margin-top: 100px;
      margin-bottom: 200px;
      .head{
        color: $color_main;
        font-size: 7.5rem;
        font-weight: bold;
        line-height: inherit;
      }
      .txt-1{
        opacity: .5;
        font-size: 2.8rem;
      }
      .txt-2{
        opacity: .5;
        font-size: 1.6rem;
        padding: 0 15px;
      }
      a{
        color: #0088cc;
        font-weight: $font_medium;
        &:hover{opacity: .8;}
      }
      @include mq(smt){
        .txt-1 { font-size: 2.5rem;}
      }
    }
}




