@charset "UTF-8";
// =========================================
// CONTROL VIEW ELEMENT
// =========================================

.pc-only {
  display: block;

  @include mq() {
    display: none !important;
  }
}

.pc-only-inline {
  display: inline-block !important;

  @include mq() {
    display: none !important;
  }
}


.pc-only2 {
  display: block;

  @include mq(sm2) {
    display: none !important;
  }
}

.pc-only2-inline {
  display: inline-block;

  @include mq(sm2) {
    display: none !important;
  }
}

.pc-only3 {
  display: block;

  @include mq(sm3) {
    display: none !important;
  }
}

.pc-only3-inline {
  display: inline-block;

  @include mq(sm3) {
    display: none !important;
  }
}

.pc-onlyt{
  display: block;
  @include mq(smt) {
    display: none !important;
  }
}

.pc-onlyt-inline{
  display: inline-block !important;
  @include mq(smt) {
    display: none !important;
  }
}


.sp-only {
  display: none !important;

  @include mq() {
    display: block !important;
  }
}

.sp-only-inline {
  display: none !important;

  @include mq() {
    display: inline !important;
  }
}


.sp-only2 {
  display: none !important;

  @include mq(sm2) {
    display: block !important;
  }
}

.sp-only3 {
  display: none !important;

  @include mq(sm3) {
    display: block !important;
  }
}


.sp-onlyt {
  display: none !important;

  @include mq(smt) {
    display: block !important;
  }
}

// =========================================
// CONTAINER
// =========================================
.container {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  @include mq() {
    max-width: 100%;
    padding: 0 30px;
  }
  @include mq(sm3){
    padding: 0 15px;
  }
}

.container2 {
  position: relative;
  width: 900px;
  margin: 0 auto;
  @include mq() {
    width: 100%;
    padding: 0 15px;
  }
}


.justify-content-center{
  justify-content: center;
}

.align-items-center{
  align-items: center;
}