@charset "utf-8";
/* ==========================================================
	search-page
========================================================== */
.search{

    .search-header {
        width: 100%;
        height: 70px;
        position: relative;
        overflow: hidden;
        background-color: #d2bea5;
        @include mq(smt){
            height: 50px;
        }
        h1.head {
            font-family: "futura-pt",sans-serif;
            width: 100%;
            
            text-align: center;
            letter-spacing: 0.5rem;
            text-indent: 0.5rem;
            color: #fff;
            margin: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .search-result-section{
        max-width: 1040px;
        padding: 50px 20px; 
        margin: auto;
        min-height: 70vh;
        .page-title{
            margin: 20px 0;
        }
        ul.result{
            padding-left: 30px;
            li{
                list-style: circle;
                margin: 10px 0;
            }
            a{
                &:link{
                    color: black;
                }
                &:hover{
                    opacity: .8;
                }
            }
        }
    }
}