@charset "UTF-8";
/* ==========================================================
	gap-page
========================================================== */
.gap{


.content{
	img{
		border-radius: 30px;
		filter: drop-shadow(3px 3px 3px gray);
	}
	.left, .right{
		padding: 5px;
	}
} 

/* outline */
.cure2-outline-section {
	max-width: 1040px;
	padding: 100px 20px 0;
	margin: auto;

	h2.head {
		text-align: center;
		font-weight: $font_regular;
		letter-spacing: 0.5rem;
		text-indent: 0.5rem;	
		margin-bottom: 50px;
		line-height: 180%;	
	}
	p.intro {
		margin: 0 auto;
		letter-spacing: 0.2rem;
		
		line-height: 200%;
		text-align: justify;
		padding-bottom: 30px;
	}
	h3.head {
		text-align: center;
		
		letter-spacing: 0.2rem;
		text-indent: 0.2rem;
		margin: 50px auto 30px;
		line-height: 150%;
	}
	p.detail {
		letter-spacing: 0.2rem;
		
		line-height: 200%;
		text-align: justify;
		padding-bottom: 30px;
	}
}

/* case */
.gap-case-section {
	max-width: 1040px;
	padding: 50px 20px;
	margin: 0 auto;
	.case {
		margin: 0 auto;
		letter-spacing: 0.2rem;
		
		line-height: 200%;
		text-align: center;
		padding-bottom: 30px;	
		.bold {
			line-height: 150%;
			margin-bottom: 30px;
			font-weight: $font_medium;
			span {
				display: block;
			}
		}
		ul {
			font-weight: $font_regular;
			margin-bottom: 30px;
			li {
				margin: 20px;
			}
		}
		.wrap {
			margin-bottom: 50px;
			display: flex;
			justify-content: center;
		}
		.left {
			max-width: 400px;
			width: 100%;
			margin: 0 10px;
		}
		.right {
			max-width: 400px;
			width: 100%;	
			margin: 0 10px;
		}
		table {
			margin-top: 10px;
			letter-spacing: 0;
			border-spacing: 0;
			border-collapse: collapse;
			th {
				width: 25%;
				border: 1px solid #ccc;
				padding: 3px;
				background-color: #f6f2ed;
			}
			td{
				width: 25%;
				border: 1px solid #ccc;
				padding: 3px;	
				line-height: 120%;
			}
		}
		.head {
			font-weight: $font_regular;
			padding: 10px;
			background-color: #f6f2ed;
			vertical-align: middle;
			margin-bottom: 10px;
		}
		.comment {
			min-height: 120px;
			line-height: 150%;
			font-weight: $font_regular;
			text-align: left;
		}
	}
}


/* type */
.gap-type-section {
	max-width: 1040px;
	padding: 0 20px 50px;
	margin: 0 auto;
	h3.head {
		text-align: center;
		
		letter-spacing: 0.2rem;
		text-indent: 0.2rem;
		margin: 0 auto 50px;
		line-height: 150%;
	}
	.wrap {
		margin: 100px 0;
		overflow: hidden;	
		.left {
			width: 48%;
			float: left;
			img{margin-left: auto;}
		}
		.right {
			width: 48%;
			float: right;
			img{margin-right: auto;}
		}
		h4 {
			text-align: justify;
			font-weight: $font_medium;
			letter-spacing: 0.2rem;
			text-indent: 0.2rem;
			margin-bottom: 10px;
			line-height: 150%;
		}
		.comment {
			text-align: justify;
			
			letter-spacing: 0.1rem;
			text-indent: 0.2rem;
			line-height: 200%;	
		}
	}
	.wrap-merit {
		margin: -50px 0 50px;
		overflow: hidden;	
		.left {
			width: 48%;
			float: left;
		}
		.right {
			width: 48%;
			float: right;
			text-align: right;
			img {
				margin-right: auto;
			}
		}
		h4.center {
			text-align: center;
			font-weight: $font_medium;
			letter-spacing: 0.2rem;
			text-indent: 0.2rem;
			margin-bottom: 10px;
			line-height: 150%;	
		}
		ul {
			text-align: center;
			line-height: 150%;
			li {
				padding: 10px;
				margin: 10px 0;
				background-color: #f6f2ed;
				font-weight: $font_regular;
			}
		}
	}
	.end {
		font-weight: $font_regular;
		line-height: 200%;
		color: #d53212;
	}
}


/* ceramic */
.cure2-ceramic-section {
	max-width: 1040px;
	padding: 50px 20px 0;
	margin: auto;

	h3.head {
		text-align: center;
		
		letter-spacing: 0.2rem;
		text-indent: 0.2rem;
		margin: 50px auto 30px;
		line-height: 150%;
	}
	p.detail {
		letter-spacing: 0.2rem;
		
		line-height: 200%;
		text-align: justify;
		padding-bottom: 30px;
	}
}


/* method */
.gap-method-section {
	max-width: 1040px;
	padding: 0 20px 50px;
	margin: 0 auto;
	h3.head {
		text-align: center;
		
		letter-spacing: 0.2rem;
		text-indent: 0.2rem;
		margin: 0 auto 50px;
		line-height: 150%;
	}
	.wrap {
		margin: 100px 0;
		overflow: hidden;	
		.left {
			width: 48%;
			float: left;
			img{margin-left: auto;}
		}
		.right {
			width: 48%;
			float: right;
			text-align: right;
			img{margin-right: auto;}
		}
		table {
			float: left;
			margin-top: 20px;
			clear: both;
			letter-spacing: 0;
			border-spacing: 0;
			border-collapse: collapse;
			text-align: center;
			th {
				width: 25%;
				border: 1px solid #ccc;
				padding: 3px;
				background-color: #f6f2ed;
				line-height: 150%;	
			}
			td{
				width: 25%;
				border: 1px solid #ccc;
				padding: 3px;	
				line-height: 150%;
			}
		}
		h4 {
			text-align: justify;
			font-weight: $font_medium;
			letter-spacing: 0.2rem;
			text-indent: 0.2rem;
			margin-bottom: 10px;
			line-height: 150%;
		}
		h4.under {
			text-align: justify;
			font-weight: $font_regular;
			letter-spacing: 0rem;
			text-indent: 0.2rem;
			margin-bottom: 10px;
			line-height: 150%;
			text-decoration: underline;	
		}
		.comment {
			text-align: justify;
			
			letter-spacing: 0.1rem;
			text-indent: 0.2rem;
			line-height: 200%;	
		}
	}
	.wrap-merit {
		margin: -50px 0 20px;
		overflow: hidden;	
		.left {
			width: 48%;
			float: left;
		}
		.right {
			width: 48%;
			float: right;
		}
		h4.center {
			text-align: center;
			font-weight: $font_medium;
			letter-spacing: 0.2rem;
			text-indent: 0.2rem;
			margin-bottom: 10px;
			line-height: 150%;	
		}
		ul {
			text-align: center;
			line-height: 150%;
			li {
				padding: 10px;
				margin: 10px 0;
				background-color: #f6f2ed;
				font-weight: $font_regular;
			}
		}
	}
	.end {
		font-weight: $font_regular;
		line-height: 150%;
		color: #d53212;
	}
}


/* composite */
.gap-composite-section {
	max-width: 1040px;
	padding: 0 20px;
	margin: 0 auto 100px;

	h3.head {
		text-align: center;
		
		letter-spacing: 0.2rem;
		text-indent: 0.2rem;
		margin: 50px auto 30px;
		line-height: 150%;
	}
	p.detail {
		letter-spacing: 0.2rem;
		
		line-height: 200%;
		text-align: justify;
		padding-bottom: 30px;
	}
	.wrap {
		margin: 100px 0;
		overflow: hidden;	
		.left {
			width: 48%;
			float: left;
			img{margin-left: auto;}
		}
		.right {
			width: 48%;
			float: right;
			text-align: right;
			img{margin-right: auto;}
		}
		table {
			float: left;
			margin-top: 20px;
			clear: both;
			letter-spacing: 0;
			border-spacing: 0;
			border-collapse: collapse;
			text-align: center;
			th {
				width: 25%;
				border: 1px solid #ccc;
				padding: 3px;
				background-color: #f6f2ed;
				line-height: 150%;	
			}
			td{
				width: 25%;
				border: 1px solid #ccc;
				padding: 3px;	
				line-height: 150%;
			}
		}
		h4 {
			text-align: justify;
			font-weight: $font_medium;
			letter-spacing: 0.2rem;
			text-indent: 0.2rem;
			margin-bottom: 10px;
			line-height: 150%;
		}
		.comment {
			text-align: justify;
			
			letter-spacing: 0.1rem;
			text-indent: 0.2rem;
			line-height: 200%;	
		}
	}
	.wrap-merit {
		margin: -50px 0 20px;
		overflow: hidden;	
		.left {
			width: 48%;
			float: left;
		}
		.right {
			width: 48%;
			float: right;
		}
		h4.center {
			text-align: center;
			font-weight: $font_medium;
			letter-spacing: 0.2rem;
			text-indent: 0.2rem;
			margin-bottom: 10px;
			line-height: 150%;	
		}
		ul {
			text-align: center;
			line-height: 150%;
			li {
				padding: 10px;
				margin: 10px 0;
				background-color: #f6f2ed;
				font-weight: $font_regular;
			}
		}
	}
}


/* care */
.gap-care-section {
	max-width: 1040px;
	padding: 0 20px 100px;
	margin: 0 auto;
	.bold{
		font-weight: $font_medium;
	}
	ul {
		margin-bottom: 30px;
		li {
			
			margin: 20px;
			line-height: 150%;
			list-style: disc;
		}
	}
}

/* blog */
.gap-blog-section {
	max-width: 1040px;
	padding: 0 20px 100px;
	margin: 0 auto;
	.bold {
		font-weight: $font_regular;
		line-height: 150%;
		margin-bottom: 30px;
	}
	ul {
		font-weight: $font_medium;
		margin-bottom: 30px;
		li {
			
			margin: 10px 20px;
			line-height: 150%;
			list-style: disc;
		}
	}
}


@include mq(smt){

	.cure2-outline-section{
		padding-top: 50px;
	}

	.gap-case-section .case{
		ul li{
			margin: 10px 0;
			br{display: none;}
			text-align: left;
			line-height: 1.7;
		}
		.wrap{
			flex-direction: column;
			align-items: center;
			.left, .right{
				margin: 20px 0;
				padding: 0;
				.comment{
					min-height: auto;
					margin: 15px 0;
				}
				table{margin-top: 15px;}
			}
		}
	} 
		
	.gap-type-section{
		padding-bottom: 20px;
		.wrap{
			margin: 50px 0;
			.left, .right{
				float: none;
				width: 100%;
				margin: 10px 0;
				img{
					margin: auto;
				}
			}
			h4{text-align: center;}
		}
		.wrap-merit{
			margin-top: 50px;
			.left, .right{
				float: none;
				width: 100%;
				img{margin: auto;}
			}
		}
	} 

	.gap-method-section{
		.wrap, .wrap-merit{
			margin: 20px 0;
			.left, .right{
				float: none;
				width: 100%;
				margin: 10px 0;
				img{
					margin: auto;
				}
			}
			table{float: none;}
		}
		.wrap{
			margin-top: 50px;
		}
		.end{
			margin-bottom: 20px;
		}
	}

	.gap-composite-section{
		.wrap, .wrap-merit{
			
			.left, .right{
				float: none;
				width: 100%;
				margin: 10px 0;
				img{
					margin: auto;
				}
			}
			table{float: none;}
		}
		.wrap{
			margin: 0;
		}
		.wrap-merit{
			margin-top: 20px;
		}
	}
	.gap-care-section ul li{
		margin-right: 0;
	}
}



/* -------  end --------  */
}