@charset "UTF-8";
/* ==========================================================
	invisalign
========================================================== */
.invisalign{

	
/* outline */
 .cure2-outline-section {
	width: 100%;
	background-color: #fafafa;
	img {
		display: block;
		margin: 0 auto;
	}
}

.cure2-intro-section {
	max-width: 1040px;
	margin: 50px auto;
	overflow: hidden;
	padding: 0 20px;

	h2.head {
		text-align: center;
		margin-bottom: 50px;
		line-height: 180%;
	}
	p.intro {
		margin: 0 auto;
		line-height: 200%;
		text-align: justify;
		padding-bottom: 30px;
	}
}

/* about */
.cure2-about-section {
	max-width: 1040px;
	margin: 0 auto 50px;
	padding: 0 20px;
	overflow: hidden;
	.left {
		width: 50%;
		float: left;
	}
	.right {
		text-align: center;
		float: right;
		img {
			margin: auto;
			max-width: 400px;
			width: vw(700);
			display: block;
		}
	}
	h3.head {
		margin-bottom: 30px;
		letter-spacing: 0.2rem;
	}
	p.intro {
		font-weight: $font_regular;
		line-height: 180%;	
	}
}


/* merit */
.cure2-merit-section {
	max-width: 1040px;
	margin: 100px auto;
	overflow: hidden;
	padding: 0 20px;
	h3.head {
		font-weight: $font_regular;
		margin-bottom: 30px;
		letter-spacing: 0.2rem;
		text-align: center;
	}
	ul li {
		max-width: 800px;
		padding: 20px 30px;
		text-align: center;
		line-height: 150%;
		background-color: #ef9ba0;
		margin-bottom: 1px;
		margin-left: auto;
		margin-right: auto;
		font-weight: $font_regular;
		color: #fff;
	}
}


/* case */
.cure2-case-section {
	max-width: 1040px;
	margin: 50px auto 50px;
	padding: 0 20px;
	overflow: hidden;
	.left {
		width: 400px;
		float: left;
		padding-left: 60px;
	}
	.right {
		width: 400px;
		float: right;
		padding-right: 60px;	
		img {
			width: 400px;
			height: 400px;
			text-align: center;
			display: block;
			overflow: hidden;
		}	
	}
	.center {
		max-width: 900px;
		margin: 0 auto;
		overflow: hidden;	
		p.ans {
			text-align: left;
			line-height: 150%;
			margin-top: 20px;
		}
		img {
			float: left;
			margin-right: 30px;
		}
		.comment {
			text-align: center;
			margin-bottom: 30px;
		}
	}
	.case {
		width: 100%;
		height: 30px;
		text-align: center;	
	}
	p.blogbanner a{
		text-align: center;
		padding: 10px 50px;
		margin: 100px auto;
		background-color: #209cdf;
		display: block;
		color: #fff;
		width: 400px;
		border-radius: 50px;
		font-weight: $font_regular;
	}
}

/* flow */
.cure2-flow-section {
	max-width: 900px;
	margin: 100px auto;
	overflow: hidden;
	padding: 0 20px;

	h3.head {
		font-weight: $font_regular;
		margin-bottom: 30px;
		letter-spacing: 0.2rem;
		text-align: center;
	}
	.item {
		font-weight: $font_regular;
		margin: 30px 0;
		padding: 20px 0;
		text-align: center;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
	}
	.note {
		font-weight: $font_regular;
		margin: 0 auto 30px;
		text-align: justify;
		line-height: 150%;
		max-width: 800px;
		position: relative;
		img {
			display: block;
			margin: 20px auto;
		}
		.vivera-retainers-img {
			width: 50%;
		}
		iframe {
			display: block;
			margin: 20px auto 0;
			max-width: 560px;
			width: 100%;
			height: 315px;
		}
		span.att {
			display: block;
			text-align: left;
		}
		span {
			display: block;
			text-align: center;
		}
		.topics {
			display: block;
			margin: 50px 20px;
			overflow: hidden;
			h4 {
				text-align: center;
				font-weight: $font_regular;
			}
			ul li {
				max-width: 800px;
				text-align: justify;
				line-height: 150%;
				font-weight: $font_regular;
				position: relative;
				padding-left: 25px; 
				margin: 20px;
				&:before {
					content: "";
					position: absolute;
					top: .35em;
					left: 6px;
					-webkit-transform: rotate(50deg);
					-ms-transform: rotate(50deg);
					transform: rotate(50deg);
					width: 3px;
					height: 7px;
					border-right: 2px solid #8b6b4e;
					border-bottom: 2px solid #8b6b4e;
				}
				&:after {
					content: "";
					position: absolute;
					top: .2em;
					left: 0;
					width: 15px;
					height: 15px;
					border: 1px solid #8b6b4e;
					border-radius: 2px;
				}
			}
			h5 {
				padding: 20px 0 5px;
				font-size: 1.6rem;
				margin: 10px 0;
				border-bottom: 1px solid #ddd;
			}
			.left {
				float: left;
				width: 45%;
				img {
					width: 100%;
				}
			}
			p {
				height: 100px;	
			}
			.right {
				float: right;
				width: 45%;
				img {
					width: 100%;
				}
			}
		}
	}
	.arrow {
		text-align: center;
		color: #999;
		line-height: 150%;
	}
}


/* merit */
.cure2-important-section {
	max-width: 1040px;
	margin: 50px auto;
	overflow: hidden;

	h3.head {
		font-weight: $font_regular;
		margin-bottom: 20px;
		letter-spacing: 0.2rem;
		text-align: center;
	}
	ul li {
		max-width: 800px;
		padding: 20px 20px 0;
		text-align: justify;
		line-height: 150%;
		margin-bottom: 1px;
		font-weight: $font_regular;
	}
}


/* plan */
.cure2-plan-section {
	max-width: 1240px;
	margin: 0 auto 100px;
	overflow: hidden;
	padding: 0 20px;
	text-align: center;
	h2 {
		line-height: 150%;
	}
	.plan-wrap {
		display: inline-block;
		vertical-align: top;
		overflow: hidden;
		max-width: 330px;
		margin: 20px;
		h3.head {
			height: 50px;
			margin: 20px;
			line-height: 150%;
		}
		img {
			margin-bottom: 20px;
		}
		p {
			text-align: justify;
			line-height:150%;
			font-weight: $font_regular;
		}
	}
	.plan-case{
		h3 {
			padding: 30px 0 20px;
			font-weight: $font_regular;
			line-height: 150%;	
		}
		.case-img {
			display: inline-block;
			margin: 20px 0;
			max-width: 400px;
			width: 100%;
		}
	} 
	.plan-wrap2 {
		font-weight: $font_regular;
		margin: 30px auto 30px;
		text-align: justify;
		max-width: 800px;
		position: relative;
		.topics {
			display: block;
			margin: 20px;
			overflow: hidden;
			h3 {
				text-align: center;
				margin-bottom: 10px;
			}
			.outline {
				text-align: left;
				line-height: 150%;
				height: auto;
				margin-bottom: 30px;
			}
			h4 {
				text-align: center;
			}
			ul li {
				max-width: 800px;
				text-align: justify;
				line-height: 150%;
				position: relative;
				padding-left: 25px; 
				margin: 20px;
				&:before {
					content: "";
					position: absolute;
					top: .35em;
					left: 6px;
					-webkit-transform: rotate(50deg);
					-ms-transform: rotate(50deg);
					transform: rotate(50deg);
					width: 3px;
					height: 7px;
					border-right: 2px solid #8b6b4e;
					border-bottom: 2px solid #8b6b4e;
				}
				&:after {
					content: "";
					position: absolute;
					top: .2em;
					left: 0;
					width: 15px;
					height: 15px;
					border: 1px solid #8b6b4e;
					border-radius: 2px;
				}
			}
			p.att {
				line-height: 150%;
				margin-bottom: 10px;
			}
			h5 {
				padding: 20px 0 5px;
				font-size: 1.6rem;
				margin: 10px 0;
				border-bottom: 1px solid #ddd;
			}
			p {
				height: 100px;	
			}
			.left {
				float: left;
				width: 45%;
				img {
					width: 100%;
				}
			}
			.right {
				float: right;
				width: 45%;
				img {
					width: 100%;
				}
			}
		}
		img {
			width: 100%;
			display: block;
			margin: auto;
		}
	}
	.invizalign-link {
		display: block;
	}
	.invizalign-link a {
		margin: auto;
		max-width: 550px;
		width: 100%;
		padding: 10px 20px;
		display: block;
		color: #fff;
		border-radius: 70px;

		background: linear-gradient(to left, #08c 50%, rgb(8, 152, 224) 50%) right;
		background-size: 200%;
		transition: .3s ease-out;
		
		&:hover{
			background-position: left;
		}

		span {
			font-size: 2rem;
			margin-bottom: 5px;
			display: block;
		}
	}
	.plan-wrap3 {
		font-weight: $font_regular;
		margin: 100px auto;
		text-align: justify;
		max-width: 800px;
		position: relative;
		.topics {
			display: block;
			margin: 20px;
			overflow: hidden;
			h3 {
				text-align: center;
				margin-bottom: 10px;
			}
			.outline {
				text-align: left;
				line-height: 150%;
				height: auto;
				margin-bottom: 30px;
			}
			ul li {
				max-width: 800px;
				text-align: justify;
				line-height: 150%;
				position: relative;
				padding-left: 25px; 
				margin: 20px;
				&:before {
					content: "";
					position: absolute;
					top: .35em;
					left: 6px;
					-webkit-transform: rotate(50deg);
					-ms-transform: rotate(50deg);
					transform: rotate(50deg);
					width: 3px;
					height: 7px;
					border-right: 2px solid #8b6b4e;
					border-bottom: 2px solid #8b6b4e;
				}
				&:after {
					content: "";
					position: absolute;
					top: .2em;
					left: 0;
					width: 15px;
					height: 15px;
					border: 1px solid #8b6b4e;
					border-radius: 2px;
				}
			}
			p {
				height: 100px;	
			}
		}
		img {
			width: 100%;
			display: block;
			margin: auto;
		}
	}
	.plan-wrap4 {
		font-weight: $font_regular;
		margin: 30px auto 30px;
		text-align: justify;
		max-width: 800px;
		position: relative;
		.topics {
			display: block;
			margin: 20px;
			overflow: hidden;
			h3 {
				text-align: center;
				margin-bottom: 10px;
			}
			.outline {
				text-align: left;
				line-height: 150%;
				height: auto;
				margin-bottom: 30px;
			}
			h4 {
				text-align: left;
				font-weight: 700;
			}
			p.text {
				margin-bottom: 30px;
			}
			p.text span {
				font-weight: 700;
				color: #ff0000;
			}
			p.att {
				line-height: 150%;
				margin-bottom: 10px;
			}
			h5 {
				padding: 20px 0 5px;
				font-size: 1.6rem;
				margin: 10px 0;
				border-bottom: 1px solid #ddd;
			}
			.left {
				float: left;
				width: 45%;
				img {
					width: 100%;
				}
			}
			.right {
				float: right;
				width: 45%;
				img {
					width: 100%;
				}
			}
		}
		img {
			width: 100%;
			display: block;
			margin: auto;
		}
	}
}


/* qa-section */
.cure2-qa-section {
	max-width: 840px;
	margin: 50px auto;
	overflow: hidden;
	padding: 0 20px;	
	.qa-head {
		margin-bottom: 30px;
		text-align: center;
	}
	ul.qa {
		line-height: 180%;
		span {
			display: block;
			font-weight: $font_medium;
			font-size: 1.5rem;
			border-bottom: 1px solid #ccc;
			margin-bottom: 5px;
		}
		li {
			margin-bottom: 30px;
		}
		
	}
}

.cure2-bridal-link-section {
	display: block;
}
.cure2-bridal-link-section a {
	text-align: center;
	margin: auto;
	max-width: 550px;
	width: 100%;
	padding: 10px 20px;
	display: block;
	color: #fff;
	border-radius: 70px;

	background: linear-gradient(to left, #ef9ba0 50%, rgb(240, 200, 200) 50%) right;
	background-size: 200%;
	transition: .3s ease-out;
	
	&:hover{
		background-position: left;
	}

	span {
		font-size: 2rem;
		margin-bottom: 5px;
		display: block;
	}
}

/* blog link */
.cure2-blog-link-section{
	max-width: 1040px;
	padding: 0 20px;
	margin: 50px auto 50px;
	text-align: center;
	.blog-link{
		display: block;
		max-width: 400px;
		width: 100%;
		margin: auto;
		padding: 10px 40px;
		border-radius: 50px;
		color: white;
		font-weight: $font_regular;
		background: linear-gradient(to left, #08c 50%, rgb(8, 152, 224) 50%) right;
		background-size: 200%;
		transition: .3s ease-out;
		
		&:hover{
			background-position: left;
		}
	}
	@include mq(sm2){
		margin: 100px auto;
		.blog-link{
			max-width: 300px;
		}
	}
}

/* price link */
.cure2-price-link-section{
	max-width: 1040px;
	padding: 0 20px;
	margin: 50px auto 150px;
	text-align: center;
	.price-link{
		display: block;
		max-width: 400px;
		width: 100%;
		margin: auto;
		padding: 10px 40px;
		border-radius: 50px;
		color: white;
		font-weight: $font_regular;
		background: linear-gradient(to left, #08c 50%, rgb(8, 152, 224) 50%) right;
		background-size: 200%;
		transition: .3s ease-out;
		
		&:hover{
			background-position: left;
		}
	}
	@include mq(sm2){
		margin: 100px auto;
		.price-link{
			max-width: 300px;
		}
	}
}

/* payment */
.cure2-payment-section {
	max-width: 100%;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 150px;
	background-color: #f6f2ed;
	.payment-wrap {
		max-width: 1040px;
		margin: 0 auto;
		padding: 50px 20px 20px;
		overflow: hidden;
	}
	.payment-intro {
		font-weight: $font_regular;
		letter-spacing: 0.2rem;
		text-align: center;
		line-height: 180%;
		margin-bottom: 50px;
		span.l2 {
			color: #333;
			margin-bottom: 10px;
			display: inline-block;	
		}
		span {
			color: #fd2802;
			margin-bottom: 5px;
			display: inline-block;
		}
	}
	.left {
		max-width: 400px;
		width: 45%;
		float: left;
		padding: 0 10px;
		img {
			display: block;
			margin: 0 auto;
			width: 50%;
			padding: 20px 0;
		}
	}
	.right {
		max-width: 500px;
		width: 55%;
		float: right;
		padding: 0 10px;
		a.credit-anchor {
			margin: 20px auto;
			color: #08c;
			text-align: center;
			display: block;
			cursor: pointer;
			line-height: 150%;
			&:hover {
				text-decoration: underline;
				text-align: center;	
			}
		}
	}
	.payment-wrap .aplus-link {
		text-align: center;
		margin: 10px;
		a{
			color: #08c;	
			&:hover {
				text-decoration: underline;	
			}
		}
	}
	.alignment-anchor {
		margin: 30px auto 0;
		padding-bottom: 30px;
		color: #08c;
		text-align: center;
		display: block;
		cursor: pointer;
		line-height: 150%;	
		&:hover {
			text-decoration: underline;
			text-align: center;	
		}
	}
	h4.head {
		font-weight: $font_regular;
		margin-bottom: 20px;
		letter-spacing: 0.2rem;
		text-align: center;
	}
	p.card, p.credit {
		font-weight: $font_regular;
		line-height: 180%;	
	}
	.alignment-price {
		max-width: 840px;
		margin: 0 auto;
		text-align: center;
		font-weight: $font_medium;
		background-color: #fff;
		overflow: hidden;
		letter-spacing: 0.2rem;
		padding: 0 20px 70px;
		h5.head {
			text-align: center;
			font-weight: $font_regular;
			padding-top: 50px;
			margin-bottom: 50px;
			span {
				display: block;
				margin-top: 10px;
			}
		}
		p.item {
			font-weight: $font_regular;
			margin-bottom: 10px;
		}
		p.result {
			font-weight: $font_regular;
			margin-bottom: 30px;	
		}
		p.yoyaku {
			text-align: center;
			font-weight: $font_medium;
			padding: 5px;
			display: block;
			margin-bottom: 30px;
			a {
				background-color: #d93600;
				letter-spacing: normal;
				color: #fff;
				padding: 10px;
				border-radius: 5px;	
			}
		}
		h6.head {
			text-align: center;
			font-weight: $font_regular;
			margin:50px auto 20px;
			max-width: 600px;
			padding: 5px;
			display: block;
			background-color: #f6f2ed;
		}
		table {
			max-width: 600px;
			margin: 0 auto;
			tr {
				border-bottom: 1px solid #f6f2ed;
				padding: 10px;
				display: inline-block;
				text-align: left;
				width: 100%;
				th {
					font-weight: $font_regular;
					width: 350px;
					text-align: left;
				}
				td {
					font-weight: $font_regular;
					text-align: right;
					width: 250px;	
				}
			}
		}
		.comment {
			max-width: 600px;
			margin: 0 auto;
			text-align: left;
			font-weight: $font_regular;
			padding: 10px 20px;
			line-height: 150%;
		}
	}
}



@include mq(sm2){
	.cure2-plan-section .plan-wrap{
		max-width: 500px;
		margin: 20px auto;
	}
	.cure2-payment-section{
		.left, .right{
			float: none;
			margin: 20px auto;
			width: 100%;
			padding: 0;
		}
	} 
}

@include mq(smt){
	.cure2-about-section{
		.left, .right{
			float: none;
			width: 100%;
			margin: 20px 0;
		}
		.right{
			img{
				max-width: 400px;
				width: 100%;
			}
		}
	}
	.cure2-flow-section .note{
		.topics{
			margin: 30px 0;
			ul li{
				margin: 20px 0px;
			}
			p{height: auto;}
			.left, .right{
				float: none;
				width: 100%;
				margin: 20px 0;
				img{max-width: 400px;}
			}
		}
		.vivera-retainers-img{
			max-width: 400px;
			width: 100%;
		}
	} 
	.cure2-plan-section{
		.plan-wrap2 .topics{
			margin: 30px 0 20px;
			ul li{
				margin: 20px 0;
			}
		}
		.invizalign-link a{
			font-size: vw2(15);
			padding: 10px;
			border-radius: 0;
			span{
				font-size: vw2(16);
			}
		}
	} 
}


/* -------  end --------  */
}