@charset "UTF-8";
/* ==========================================================
	orthodontic-page
========================================================== */
.orthodontic{


.content{
	margin-bottom: 100px;
}

/* outline */
.cure2-outline-section {
	max-width: 1040px;
	padding: 100px 20px 0;
	margin: auto;

	h2.head {
		text-align: center;
		letter-spacing: 0.5rem;
		text-indent: 0.5rem;	
		margin-bottom: 50px;	
		font-weight: $font_regular;
	}
	h3.head {
		text-align: center;
		letter-spacing: 0.2rem;
		text-indent: 0.2rem;	
		margin-bottom: 50px;
		line-height: 150%;	
	}
	p.intro {
		margin: 0 auto;
		letter-spacing: 0.2rem;
		
		line-height: 200%;
		text-align: center;	
	}
	.comment {
		margin: 30px auto 0;
		letter-spacing: 0.2rem;
		
		line-height: 200%;
		text-align: center;		
		ul {
			margin: 30px auto;
			letter-spacing: 0.2rem;
			font-weight: $font_regular;
			line-height: 200%;
			text-align: center;	
		}
	}
	.adaptation {
		max-width: 650px;
		margin: 50px auto;
		text-align: left;
		.head {
			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid #ccc;
		}
		.intro {
			text-align: left;
			line-height: 180%;	
		}
	}
	.center {
		width: 400px;
		margin: 0 auto;
	}
	
}


/* orthodontic */
.cure2-orthodontic-section {
	max-width: 1040px;
	margin: 100px auto 0;
	padding: 0 20px;
	overflow: hidden;	

	.left {
		width: 50%;
		float: left;
		overflow: hidden;	
	}
	.right {
		max-width: 400px;
		width: 48%;
		float: right;
		img {
			display: block;
			max-width: 400px;
			width: 100%;
			margin-left: 0;	
		}
	}
	h3.head {
		
		margin-bottom: 30px;	
	}
	p.intro {
		
		margin-bottom: 30px;
		line-height: 150%;
	}
	p {
		
		margin-bottom: 30px;
		line-height: 180%;	
	}
	p.center {
		
		margin-bottom: 30px;
		line-height: 180%;
		text-align: center;	
		a {
			color: #08c;
			&:hover {
				color: #08c;
				text-decoration: underline;
			}
		}
	}
	.adaptation {
		margin: 50px auto;
		text-align: left;	
		p.head {
			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid #ccc;	
		}
		p.intro {
			text-align: left;
			line-height: 180%;
			font-weight: $font_regular;	
		}
	}
	p.blogbanner{
		margin: 100px auto 0;
		text-align: center;
		a{
			display: block;
			max-width: 450px;
			width: 100%;
			margin: auto;
			padding: 10px 40px;
			border-radius: 50px;
			color: white;
			font-weight: $font_regular;
			background: linear-gradient(to left, #08c 50%, rgb(8, 152, 224) 50%) right;
			background-size: 200%;
			transition: .3s ease-out;
			
			&:hover{
				background-position: left;
			}
		}
	} 
	
}
 

/* mouthpiece */
 .cure2-mouthpiece-section {
	max-width: 1040px;
	margin: 100px auto 100px;
	overflow: hidden;
	padding: 0 20px;

	.center {
		text-align: left;
		clear: both;
		margin: auto;
		.recom {
			max-width: 800px;
			background-color: rgba(210,190,165,0.2);
			padding: 30px;
			margin: 50px auto;
			color:#a5967d;
			line-height: 150%;
			font-weight: $font_medium;
			.title {
				color: #a5967d;
				line-height: normal;
				margin: 20px 0 30px;
				text-align: center;
				font-weight: $font_bold;
			}
		}
	}
	.left {
		width: 50%;
		float: left;
		img {
			max-width: 400px;
			width: 100%;
			margin-left: 0;
			display: block;
		}	
	}
	.right {
		max-width: 400px;
		width: 48%;
		float: right;
		img {
			max-width: 400px;
			width: 100%;
			display: block;
			margin-left: 0;
		}
	}
	h3.head {
		
		margin-bottom: 30px;	
	}
	p.intro {
		
		margin-bottom: 30px;
		line-height: 180%;	
	}
	h4.sub-head {
		font-weight: $font_regular;
		margin-bottom: 10px;
		line-height: 150%;
	}
	p.mouthpiece {
		
		line-height: 180%;
		margin-bottom: 20px;	
		a {
			font-weight: $font_regular;	
			color: #08c;
			&:hover {
				color: #08c;
				text-decoration: underline;		
			}
		}
	}
}

.orthodontic-btn {
	text-align: center;
	margin-bottom: 150px;
	a {
		letter-spacing: 0.2rem;
		color: #08c;
		&:hover {
			color: #08c;
			text-decoration: underline;	
		}
	}
}

/* ceramic */
 .cure2-ceramic-orthodontic-section {
	max-width: 1040px;
	margin: 100px auto;
	overflow: hidden;	
	padding: 0 20px;

	.left {
		max-width: 400px;
		width: 48%;
		float: left;
		overflow: hidden;
		img {
			max-width: 400px;
			width: 100%;
			display: block;
			margin-left: 0;
		}
	}
	.right {
		width: 50%;
		float: right;
	}	
	h3.head {
		
		margin-bottom: 30px;	
	}
	p.ceramic {
		
		margin-bottom: 30px;
		line-height: 150%;
	}
	p.center a {
		color: #08c;	
		&:hover {
			color: #08c;
			text-decoration: underline;
		}
	}
}


/* merit */
 .cure2-orthodontic-section.merit {
	max-width: 1040px;
	
	padding: 0 20px;
	margin: 0 auto;

	.center ul li {
		line-height: 180%;
		margin-bottom: 30px;
		span {
			display: block;
			font-weight: $font_medium;
		}
	}
}


/* comment */
 .cure2-orthodontic-section.comment {
	background-color: #efefef;
	padding: 50px 30px;
	
	margin-bottom: 50px;	
	.center .note {
		line-height: 180%;
	}	
}

@include mq(sm2){
	.cure2-orthodontic-section p.blogbanner{
		a{
			max-width: 350px;
			margin: 50px auto 0;
		}
	} 
}


@include mq(smt){

	.cure2-outline-section{
		padding-top: 50px;
		p.intro{
			text-align: left;
			br{display: none;}
		}
		.comment{
			text-align: left;
			ul{text-align: left;}
		}
	}

	.right, .left{
		float: none !important;
		width: 100% !important;
		margin: 20px auto !important;
		img{margin: auto !important;}
	}

	.cure2-mouthpiece-section .center .recom{
		margin-left: -20px;
		margin-right: -20px;
		margin-bottom: 20px;
		padding: 50px 20px;
	}
	.cure2-orthodontic-section.comment{
		padding: 50px 20px;
	}

	.cure2-orthodontic-section,
	.cure2-mouthpiece-section,
	.cure2-ceramic-orthodontic-section{
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.cure2-orthodontic-section p.blogbanner{
		margin-top: 50px;
		a{
			padding: 5px 20px;
		}
	} 
}


/* -------  end --------  */
}




