@charset "UTF-8";
/* ==========================================================
	shinbi-page
========================================================== */
.shinbi{


.shinbi-content{
	
    &__mainvisual{
        position: relative;
        &--image{
            height: 500px;
            background-image: url('../images/eom/top-bg__shinbi.png');
            background-position: 50% 50%;
            background-size: cover;
        }
        &--desc{
            max-width: vw(700);
            padding: 20px;
            width: 100%;
            color: $color_black;
            line-height: 2;
            position: absolute;
            top: 50%;
            right: vw(100);
            transform: translateY(-50%);
        }
        &--caption{
			font-weight: $font_regular;
            font-size: vw(40);
        }
        &--text{
            font-size: vw(18);
        }
        @include mq(){

            &--image{
                height: 400px;
                background-position: vw(200);
            }

            &--desc{
                position: relative;
                max-width: 100%;
                right: 0;
                transform: none;
            }

            &--caption{
                font-size: 2.5rem;
            }
            &--text{
                font-size: 1.6rem;
                line-height: 2;
            }
        }

        @include mq(sm2){
            &--caption{
                font-size: 2.8rem;
            }
            &--text{
                font-size: 1.6rem;
            }
        }
        @include mq(smt){
            &--image{
                background-position: -150px;
            }
            &--caption{
                line-height: 1.7;
            }
            &--text{
                margin-top: 20px;
            }
        }

    }

	&__body{
		letter-spacing: initial;
	}

}


.shinbi-teeth{
	&__section{
		padding: 50px 20px 100px;
		max-width: 1040px;
		margin: 0 auto;
		h2.head{
			margin-bottom: 50px;
		}
	}

	&__content{
		display: flex;
		justify-content: space-between;
		.left{
			max-width: 600px;
			width: 100%;
			margin: 0;
			padding-right: 20px;
		}
		.right{
			max-width: 400px;
			width: 100%;
			margin: 0;
			padding-left: 20px;
		}
		p{line-height: 2.5;}
	}
}


/* proportion */
.proportion-about-section {
	width: 100%;
	padding: 0 20px 100px;
	background: #000;
	color: #fff;
}
.proportion-about-section .gp-img {
	text-align: center;
	background: #000;
	margin-bottom: 50px;
	img {
		max-width: 100%;
		margin: auto;
	}
}

.proportion-about-section h2.caption {
	width: 100%;
	text-align: center;
	
	letter-spacing: 0.3rem;
	text-indent: 0.3rem;
	margin-bottom: 50px;
}
.proportion-about-section ul {
	max-width: 800px;
	margin: 0 auto;
	padding: 0;
}
.proportion-about-section ul li {
	margin-bottom: 20px;
	overflow: hidden;
}
.proportion-about-section ul li .about-head {
	border-bottom: 1px solid #666;
	text-align: left;
	display: block;
	
	padding-bottom: 10px;
	margin-bottom: 10px;
	color: #fff;
}
.proportion-about-section ul li .about-detail {
	display: block;
	vertical-align: middle;
	line-height: 150%;
	text-align: justify;
	letter-spacing: 0.2rem;
}

/* frontteeth */
.cure1-frontteeth-section {
	width: 100%;
	padding: 100px 20px 50px;
	margin: 0 auto;
	overflow: hidden;
	h3.head {
		margin-bottom: 30px;
		text-align: center;	
		font-weight: $font_regular;	
	}
	p.intro {
		margin: 0 auto 30px;
		margin-bottom: 30px;
		line-height: 200%;
		text-align: center;
		span {
			margin-top: 20px;
			display: block;
		}
	}
	.ceramic-image {
		text-align: center;
		img{margin: auto;}
	}
	.provisional-wrap {
		max-width: 800px;
		margin: 0 auto;
		h4.head {
			font-weight: $font_bold;
			padding: 5px 0;
			margin-bottom: 5px;
		}
		p.provisional {
			line-height: 180%;
			margin-bottom: 40px;
			text-align: justify;
		}
	}
}

/* collaboration */
.cure1-collaboration-section {
	width: 100%;
	background-color: #fafafa;	
	.wrapper {
		max-width: 1040px;
		padding: 100px 20px;
		margin: 0 auto;
		overflow: hidden;	
	}
	h3.head {
		margin-bottom: 30px;
		text-align: center;
		span {
			font-weight: $font_bold;
			color: #fff;
			margin: 0 5px;
			padding: 0 5px;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background-color: #e86779;
		}
	}
	p.sub-head {
		text-align: center;
		color: #e86779;
		margin-bottom: 20px;
		font-weight: $font_medium;
	}
	p.intro {
		margin: 0 auto 30px;
		
		line-height: 200%;
		text-align: center;
	}
	p.collaboration-anchor {
		margin: 50px auto 0;
		padding-bottom: 30px;
		color: #08c;
		text-align: center;
		cursor: pointer;
		line-height: 150%;
		&:hover{
			opacity: .8;
		}
	}
	p.collaboration {
		max-width: 800px;
		margin: 0 auto;
		
		line-height: 180%;
	}
	
}


/* ceramic */
.cure1-ceramic-section {
	max-width: 1040px;
	margin: 100px auto;
	padding: 0 20px;
	overflow: hidden;
	h3.head {
		margin-bottom: 30px;
		text-align: center;	
	}
	h4.intro {
		font-weight: $font_regular;
		margin-bottom: 30px;
		line-height: 150%;
		text-align: center;		
	}
	p.ceramic {
		margin: 0 auto 30px;
		margin-bottom: 30px;
		line-height: 200%;
		text-align: center;
	}
	p.ceramic-anchor {
		margin: 50px auto 0;
		padding: 10px 20px;
		color: #08c;
		max-width: 500px;
		text-align: center;
		display: block;
		cursor: pointer;
		line-height: 150%;
		&:hover {
			opacity: 0.8;
		}
	}
	a.ceramic-case {
		margin: 50px auto;
		max-width: 500px;
		border: 1px solid #ddd;
		padding: 10px 30px;
		background-color: rgba(200,200,200,0.2);	
		font-size: 2rem;
		color: #08c;
		text-align: center;
		display: block;
		cursor: pointer;
		line-height: 150%;
		&:hover{
			opacity: .8;
		}
	}
	.medical-flow {
		max-width: 900px;
		margin: 0 auto;
		text-align: center;
		padding: 50px 20px;
		font-weight: $font_bold;
		background-color: #d1c0a5;
	
		.flow-head{
			background-color: #a5967d;
		}
	
		p{
			margin-bottom: 10px;
			line-height: 180%;
			color: #fff;
			&.flow-head{
				margin-left: -20px;
				margin-right: -20px;
			}
		}
	
		img{
			margin: 20px auto;
			max-width: 400px;
			width: 100%;
		}
	}
	.left {
		max-width: 400px;
		width: 100%;
		float: left;
		margin: auto;
	}
	.right {
		max-width: 400px;
		width: 100%;
		float: right;
		margin: auto;
	}
	.crown {
		margin: 0 auto;
		
		margin-bottom: 30px;
		line-height: 180%;
		height: 150px;
		text-align: center;		
	}
	ul.feature {
		margin: 50px 0 0;
		clear: both;
		text-align: center;
		h5.head {
			text-align: center;
			margin-bottom: 30px;
			color: #a5967d;
			line-height: 150%;
		}
		li {
			display: inline-block;
			max-width: 400px;
			width: 100%;
			padding: 20px;
			border-bottom: 3px solid #fff;
			background-color: #a5967d;
			color: #fff;
			font-weight: $font_medium;
		}
	}
}


.cure1-ceramic-section .left img,
.cure1-ceramic-section .right img {
	width: 400px;
	height: 400px;
	text-align: center;
	display: block;
	overflow: hidden;
}
.cure1-ceramic-section .left .head,
.cure1-ceramic-section .right .head {
	font-weight: $font_medium;
	margin-bottom: 20px;
	text-align: center;	
	color: #a5967d;
}

p.blogbanner{
	margin: 100px 0;
	padding: 0 20px;
	a{
		text-align: center;
		padding: 10px 40px;
		background-color: $color_main;
		display: block;
		color: #fff;
		max-width: 450px;
		width: 100%;
		margin: auto;
		border-radius: 40px;
		font-weight: $font_medium;
	
		background: linear-gradient(to left,  $color_main 50%, #e65128 50%) right;
		background-size: 200%;
		transition: .3s ease-out;
		
		&:hover{
			background-position: left;
		}
	}
} 




/* grinding */
.cure1-grinding-section {
	background-color: #fafafa;
	padding: 100px 0;	
	.wrapper {
		max-width: 1040px;
		margin: 0 auto;
		overflow: hidden;
		padding: 0 20px;
	}
	h3.head {
	
		margin-bottom: 30px;	
	}
	p.contents-text {
		text-align: left;
		line-height: 200%;	
	}
}


/* laminate */
.cure1-laminate-section {
	max-width: 1040px;
	padding: 0 20px;
	margin: 100px auto 0;
	overflow: hidden;
	.left {
		width: 50%;
		float: left;
		overflow: hidden;
	}
	.right {
		width: 400px;
		float: right;
		margin-left: 40px;
	}
	h3.head {
		margin-bottom: 30px;	
	}
	h4.intro {
		margin-bottom: 30px;
		line-height: 150%;
	}
	p.laminate {
		margin-bottom: 30px;
		line-height: 180%;	
	}
}


/* shinbi-case */
.cure1-case-section {
	width: 100%;
	padding: 100px 0;
	background-color: #fafafa;
}
.cure1-case-section .wrapper {
	max-width: 1040px;
	margin: 0 auto;
	padding: 0 20px;
	overflow: hidden;
}
.cure1-case-section h3.head {
	text-align: center;
	
	margin-bottom: 20px;	
}
.cure1-case-section p.sub-text {
	text-align: center;
	
	margin-bottom: 50px;
	line-height: 130%;
}
.cure1-case-section p.sub-text .m {
	color: #bb0000;
}
.cure1-case-section ul.case {
	width: 100%;
	overflow: hidden;
}
.cure1-case-section ul.case li.case-list  {
	width:  49.5%;
	display: inline-block;
	text-align: center;
	margin: 0 0 50px 0;
}
.cure1-case-section ul.case li.case-list h4.head {
	
	text-align: center;
	margin: 0 0 10px 0;
}
.cure1-case-section ul.case li.case-list a {
	display: inline-block;
	text-align: center;
	position: relative;
}
.cure1-case-section ul.case li.case-list a img.wide {
	position: absolute;
	bottom: 5px;
	right: 5px;
}
.cure1-case-section ul.case li.case-list a img {
	max-width: 120px;
	-webkit-transition: 0.3s ease-in-out;  
       -moz-transition: 0.3s ease-in-out;  
         -o-transition: 0.3s ease-in-out;  
            transition: 0.3s ease-in-out;  
}
.cure1-case-section ul.case li.case-list a img:hover {
	opacity: 0.7 !important;
}
.cure1-case-section a.case-anchor {
	margin-top: 30px;
	display: block;
	color: #08c;
	cursor: pointer;
	text-align: center;		
	&:hover{
		opacity: .8;
	}
}


.cure1-ceramic-section ul.cost_ex li{
	margin: 5px 0 0px 0;
}

.cure1-ceramic-section h4.head {
	
	text-align: left;
	margin-bottom: 10px;
}
.cure1-ceramic-section .att {
	
	line-height: 150%;
	margin-bottom: 20px;
}






/* composite */
.cure1-composite-section {
	max-width: 1040px;
	width: 100%;
	padding: 100px 20px 50px;
	margin: auto;
	.wrapper {
		overflow: hidden;
		display: flex;

		.left {
			max-width: 400px;
			width: 100%;
			padding-right: 20px;
		}
		.right {
			max-width: 600px;
			width: 100%;
			padding-left: 20px;
		}
		
	}
	
	h3.head {
		margin-bottom: 25px;	
	}
	h4.intro {
		margin-bottom: 30px;
		line-height: 150%;
	}
	p.composite {
		margin-bottom: 30px;
		line-height: 180%;
		text-align: justify;
	}
	ul.cost_ex {
		max-width: 1040px;
		margin: 30px auto;
		overflow: hidden;
		padding: 0 20px;
	}
}

ul.cost_ex {
	li{
		margin: 0 0 10px 0;
		span {
			margin: 0 20px 0 0;
			font-weight: $font_bold;
		}
	}
}



/* warranty */
.cure1-warranty-section {
	width: 100%;
	padding: 50px 0;
	background-color: rgba(210,190,165,0.2);

	.wrapper {
		max-width: 1040px;
		margin: 0 auto;
		padding: 0 20px;
		overflow: hidden;
		text-align: center;
	}
	h3.head {
		margin-bottom: 30px;	
	}
	p.lead {
		margin-bottom: 30px;
		line-height: 180%;
		text-align: center;
	}
	.warranty {
		line-height: 150%;
	}
}


/* shinbi-whitening */
.cure1-shinbi-whitening-section {
	width: 100%;
	padding: 100px 0;
	background-color: #fafafa;	
	.wrapper {
		max-width: 1040px;
		margin: 0 auto;
		padding: 0 20px;
		overflow: hidden;	
	}
	h3.head {
		margin-bottom: 50px;
		text-align: center;
	}
	p.whitening {
		line-height: 180%;
		margin-bottom: 3 0px;
		text-align: justify;
	}
	p.anchor a {
		margin-top: 30px;
		display: block;
		color: #08c;
		font-weight: $font_bold;
		cursor: pointer;
		line-height: 150%;
		text-align: center;	
		&:hover{
			opacity: .8;
		}
	}
	
}


/* ==========================================================
	shinbi-case
========================================================== */

/* case */
.case-header {
	width: 100%;
	height: 100px;
	margin-top: 100px;
	position: relative;
	overflow: hidden;
	background-position: center;
	background-size: cover;
}
.case-header .case-header-caption {
	width: 100%;
	text-align: center;
	position: absolute;
	letter-spacing: 0.2rem;
	text-indent: 0.2rem;
}

/* outline */
.case-section {
	max-width: 1040px;
	padding: 0px 0px 100px;
	margin: 0 auto;
	img{
		box-sizing: content-box;
	}
}
.case-section img.right {
	width: 300px;
	display: block;
	float: right;
	margin: 0 0 20px 20px;
}
.case-section img.left {
	width: 300px;
	display: block;
	float: left;
	margin: 0 20px 20px 0;
}
.case-section .contents-text {
	text-align: left;
	
	line-height: 200%;
	margin-bottom: 50px;
	overflow: hidden;
}
.case-section a.case-anchor {
	color: #08C;
	display: block;
	text-align: center;
	margin-bottom: 50px;
	&:hover{
		opacity: .8;
	}
}















@include mq(){
	.cure1-ceramic-section .left, .cure1-ceramic-section .right{
		float: none;
	}
	.cure1-laminate-section .right{
		width: vw(700);
	}
}

@include mq(sm2){
	p.blogbanner{
		margin: 50px 0;
		a{
			max-width: 350px;
			padding: 10px 30px;
			line-height: 1.5;
		}
	} 

	.cure1-composite-section{
		padding-top: 50px;
		padding-bottom: 0;
		h3.head{text-align: center;}
		.wrapper{
			flex-direction: column;
			align-items: center;
			.left{
				max-width: 400px;
				padding: 0;
				margin-bottom: 10px;
			}
			.right{
				max-width: 100%;
				padding: 0;
			}
			h2{
				text-align: center;
				margin-bottom: 20px;
			}
		}
		ul.cost_ex{
			margin-top: 0;
			padding: 0;
		}
	}	

	.shinbi-teeth__content{
		flex-direction: column-reverse;
		align-items: center;
		.left{
			max-width: 100%;
			padding: 0;
		}
		.right{
			max-width: 400px;
			padding: 0;
			margin-bottom: 10px;
		}
	}

	.shinbi-teeth__section{
		h2.head{
			margin-bottom: 25px;
			text-align: center;
		}
	}

	.cure1-ceramic-section ul.feature li{
		padding: 10px;
	}
}

//shinbi

@include mq(smt){
	.proportion-about-section{
		padding-bottom: 50px;
	}

	.cure1-collaboration-section .wrapper{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.cure1-ceramic-section{
		margin: 50px auto;
		.medical-flow{
			margin-left: -20px;
			margin-right: -20px;
			br{display: none;}
		}
		.intro br{display: none;}
		.ceramic br{display: none;}
		ul.feature li{
			padding: 10px 20px;
			max-width: 100%;
		}
	}

	.case-section{
		img.left, img.right{
			float: none;
			margin: 20px auto;
			max-width: 400px;
			width: 100%;
		}
		.contents-text{
			margin-bottom: 30px;
		}
	} 

	.case-header{
		margin-top: 50px;
	}

	.cure1-laminate-section{
		margin-top: 70px;
		h3.head{
			text-align: center;
			margin-bottom: 25px;
		}
		h4.intro{margin-bottom: 15px;}
		.right{
			float: none;
			max-width: 400px;
			width: 100%;
			margin: 0 auto 20px;
		}
	} 

	.cure1-grinding-section{
		padding-top: 50px;
		padding-bottom: 50px;
		h3.head{text-align: center;}
	}
	.cure1-composite-section{
		padding-top: 50px;
		h3.head{
			text-align: center;
	   }
	}
	.cure1-shinbi-whitening-section{
		padding-top: 50px;
		h3.head{
			margin-bottom: 30px;
		}
	}

	.shinbi-teeth__section{
		padding-top: 50px;
		padding-bottom: 50px;
	}	

    .cure1-warranty-section{
		p.lead{
			text-align: left;
			br{display: none;}
		}
		.warranty{
			text-align: right;
		}
	} 
}


/* -------  end --------  */
}