@charset "utf-8";
/* ==========================================================
	general-page
========================================================== */
.general{


/* outline */
.cure3-general-section {
	max-width: 1040px;
	padding: 100px 20px 0;
    margin: auto;

    h2.head {
        text-align: center;
        font-weight: $font_regular;
        letter-spacing: 0.5rem;
        text-indent: 0.5rem;	
        margin-bottom: 50px;
    }

    p.intro {
        margin: 0 auto;
        letter-spacing: 0.2rem;
        
        line-height: 200%;
        text-align: center;
        padding-bottom: 30px;
    }
}


/* general treatment */
.cure3-general-treatment-section {
	max-width: 1040px;
	margin: 50px auto 150px;
	padding: 0 20px;

    .box-wrap {
        margin: 0 auto 50px;
    }
    .general-box {
        width: 460px;
        display: table-cell;
        padding: 0 20px;
        h3.head {
            text-align: center;
            font-weight: $font_medium;
            letter-spacing: 0.2rem;
            text-indent: 0.2rem;
            margin-bottom: 20px;
        }
        p.detail {
            
            line-height: 180%;	
        }
    }
}


/* painless */
.cure3-painless-section {
	max-width: 100%;
	padding: 100px 20px;
	background-color: #fafafa;
    h2.head {
        text-align: center;
        font-weight: $font_regular;
        letter-spacing: 0.5rem;
        text-indent: 0.5rem;	
        margin-bottom: 50px;
    }
    p.intro {
        margin: 0 auto;
        letter-spacing: 0.2rem;
        
        line-height: 200%;
        text-align: center;
        padding-bottom: 30px;
    }
}


/* prevention */
.cure3-prevention-section {
	max-width: 100%;
	padding: 100px 20px;
    margin-bottom: 100px;

    h2.head {
        text-align: center;
        font-weight: $font_regular;
        letter-spacing: 0.5rem;
        text-indent: 0.5rem;	
        margin-bottom: 50px;
    }
    h3.head {
        text-align: center;
        font-weight: $font_regular;
        letter-spacing: 0.2rem;
        text-indent: 0.2rem;
        line-height: 150%;
        margin-bottom: 50px;
        color: #e86779;
    }
    p.intro {
        margin: 0 auto;
        letter-spacing: 0.2rem;
        
        line-height: 200%;
        text-align: center;
        padding-bottom: 30px;
    }
    a.cleaning-anchor {
        margin: 30px auto 0;
        color: #08c;
        display: block;
        cursor: pointer;
        text-align: center;
        &:hover {
            text-decoration: underline;
        }
    }
}


@include mq(smt){
    .cure3-general-section{
        padding-top: 50px;
    }
    .cure3-general-treatment-section{
        margin-bottom: 50px;
        .box-wrap{
            &:first-child{
                margin-bottom: 30px;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
        .general-box{
            display: block;
            width: 100%;
            padding: 0;
            &:first-child{
                margin-bottom: 30px;
            }
        }
    } 
    .cure3-painless-section,
    .cure3-prevention-section{
        padding-top: 50px;
        padding-bottom: 50px;
        h3.head br{display: none;}
        p.intro{
            margin-bottom: 0 !important;
            text-align: left;
            br{display: none;}
        } 
    }
}



/* -------  end --------  */
}