@charset "utf-8";
/* ==========================================================
	information common
========================================================== */
.information-header {
	width: 100%;
	height: 300px;
	position: relative;
	overflow: hidden;
	background-image: url(../images/base/information-header.png);
	background-position: center;
	background-size: cover;
}
.information-header h1.head {
	font-family: "futura-pt",sans-serif;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
	margin-top: -20px;
	font-weight: $font_medium;
	letter-spacing: 0.5rem;
}


/* ==========================================================
	information page
========================================================== */
.information{


.content{
    font-weight: $font_regular;
    margin-bottom: 100px;
    @include mq(smt){
        margin-bottom: 0px;
    }
}

/* information */
.information-section {
	padding: 0;
	margin: 0 auto;	

    .information-wrap {
        max-width: 1060px;
        padding: 50px 20px;
        margin: auto;
        display: flex;
        .info-left {
            width: 50%;
            float: left;
            text-align: center;

            .info-left-txt {
                margin: 0 0 20px;
            }
            .info-left-tel {
                margin-bottom: 20px;
                a {
                    color: #d93600;
                    font-weight: $font_regular;
                }
            }
            .info-left-appoint-btn {
                margin-bottom: 20px;
                a {
                    padding: 10px 20px;
                    color: #fff;
                    border-radius: 5px;
                    background: linear-gradient(to left, #d93600 50%, #e65128 50%) right;
                    background-size: 200%;
                    transition: .3s ease-out;
                    &:hover{
                        background-position: left;
                    }
                }
            }
            .info-left-time {
                line-height: 200%;
                margin-bottom: 30px;
            }
            .info-left-name {
                margin-bottom: 10px;
            }
            .info-left-add {
                margin-bottom: 10px;
            }
        }
        .info-right {
            width: 50%;
            float: right;
           
            .cal-detai {
                text-align: center;
                line-height: 20px;
                span.red {
                    color: #e60012;
                    margin-right: 5px;
                    display: inline-block;
                    height: 20px;
                    width: 40px;
                    text-align: center;
                    background-color: rgba(230,0,18,0.05);	
                }
                span.blue {
                    color: #0075a9;
                    margin-right: 5px;	
                    display: inline-block;
                    height: 20px;
                    width: 40px;
                    text-align: center;
                    background-color: rgba(0,117,169,0.05);	
                }
            }
        }
    }

    //map
    .information-map {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .info {
        padding: 50px 0;
        margin: 0 auto;	
        h2.sub-head {
            font-weight: $font_regular;
            text-align: center;
            letter-spacing: 0.5rem;
            line-height: 150%;
        }
        .sub-head {
            font-weight: $font_regular;
            text-align: center;
            margin-bottom: 10px;
            letter-spacing: 0.2rem;
            line-height: 150%;
        }
        .sub-intro {
            letter-spacing: 0.1rem;
            font-weight: $font_regular;
            line-height: 200%;
            text-align: center;	
            padding: 0 20px 50px;	
            img {
                display: block;
                width: 200px;
                margin: 20px auto;
            }
        }
        img.aplus-credit {
            text-align: center;
            width: 200px;
            display: block;
            margin: auto;
        }
        ul.aplus-merit {
            display: block;
            margin: 30px 0;
            font-weight: $font_medium;
            li {
                text-align: center;
                font-weight: $font_regular;
                padding: 10px 20px;
                margin: 0px auto;
                max-width: 740px;
                background-color: rgba(210,190,165,0.2);
                border: 1px solid #fff;
            }
        }
        .aplus-link.end {
            margin-bottom: 50px;
            overflow: hidden;
        }
        .aplus-link {
            text-align: center;
            margin-bottom: 10px;
            a {
                color: #08c;
                :hover {
                    text-decoration: underline;	
                }
            }
        }
    }
}


@include mq(sm2){
    .information-section{
        .information-wrap {
            flex-direction: column;
            .info-left, .info-right{
                width: 100%;
                margin: 20px 0;
            }
        }
        .info .sub-intro{
            margin-top: 40px;
            text-align: left;
        }
    }

}

@include mq(smt){
    .information-section .info ul.aplus-merit li{
        text-align: left;
    }
}


/* -------  end --------  */
}